/****************************
**import googel font******
*****************************/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@1,300&display=swap");

/****************************
***style why choose section***
*****************************/

#why-choose-section .section-title {
  text-transform: capitalize;
  margin-top: 70px;
}

.why-choose {
  display: flex;
  margin-top: 30px;
}

.why-choose-details {
  margin-top: 30px;
}

.why-choose-details div {
  margin-bottom: 20px;
}

.why-choose-details h4 {
  font-size: 30px;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 10px;
}

.why-choose-details p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
